.hero {
    text-align: center;
}

.sign-in-form {
    max-width:330px;
    margin:0 auto;
}

.sign-in-header {
    margin-bottom: 20px;
}

.sign-in-input {
    margin-bottom: 20px;
}

.circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #eee;
    margin: 0 auto;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
