<div class="jumbotron">
    <h1>Become a Marionette Expert!</h1>
    <p class="lead">
        You'll be so popular even the cool kids will love you.
    </p>
    <a href="#/account/signin" class="btn btn-primary btn-lg" >Sign In Now</a>
</div>