<div class="jumbotron">
    <h1>Become a Marionette Expert!</h1>
    <p class="lead">
        You'll be so popular even the cool kids will love you!
    </p>
    <button type="button" class="btn btn-primary btn-lg">Login Now!</button>
</div>