<form class="sign-in-form">
    <h2 class="sign-in-header">Sign In</h2>
    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" name="username" class="form-control sign-in-input" placeholder="Username" required
           autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control sign-in-input" placeholder="Password"
           required>
    <button class="btn btn-lg btn-primary" type="submit">Sign In</button>
</form>