<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="circle"></div>
            <h2 class="text-center">Backbone</h2>

            <p>
                Bacon ipsum dolor amet venison boudin corned beef meatball alcatra jowl. Shoulder tri-tip pork belly
                leberkas. Pork chop andouille tenderloin shankle frankfurter, shoulder boudin cow.
            </p>
        </div>
        <div class="col-lg-4">
            <div class="circle"></div>
            <h2 class="text-center">Marionette</h2>

            <p>
                Capicola sausage ham hock bacon pastrami ham short ribs brisket kielbasa turkey venison biltong short
                loin beef ribs corned beef.
            </p>
        </div>
        <div class="col-lg-4">
            <div class="circle span12"></div>
            <h2 class="text-center">jQuery</h2>

            <p>
                Capicola t-bone frankfurter flank jerky picanha salami short ribs kevin jowl beef tri-tip pig tenderloin
                short loin. Ham ball tip pancetta, chicken cow pork loin short ribs ribeye kevin shank.
            </p>
        </div>
    </div>
</div>